

.page-header{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
    margin-left: 70px;
    margin-right: 70px;

}

:root {
    --main-blue: #08A6E4;
    --accent-cherry: #FB3B64;
    --text-: #55DFB4;
    --main-black: #000000;
    --accent-grey1: #707070;
    --text-grey2: #95989A;
    --accent-grey3: #A5A5A5;
    --text-alwhite: #FFFFFF;
}
.container{
    width: 1348px;
    display: flex;
    justify-content: space-between;
    background: var(--text-alwhite);
}
.page-logo{
    margin-left: 136px;
    width: 142px;
    height: 37px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0;
    color:var(--main-blue);
    opacity: 1;
}
.page-nav-list{
display: flex;


}
.page-nav-list li{
    padding: 15px 60px;
    text-decoration: none;
}
.page-nav-list li a{
    text-decoration: none;
    color:var(--accent-grey3);
    padding-bottom: 25px;
}
.page-nav-list li a:hover{
  border-bottom: solid  #08A6E4 4px ;
    color: var(--main-black);
}
.buy-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1626px;
    height: 1200px;
}
.buy-title{
    height: 77px;
    width: 226px;
    font-family: Raleway, serif;
    font-size:49px;
    margin: 130px 0 20px 0;

}
.buy-text{
    width: 384px;
    height: 32px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 38px;
}
.buy-button{
    width: 440px;
    height: 67px;
    background: var(--main-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;

}
.buy-button-text{
    font-family: "Open Sans", serif;
    font-weight: bold;
    color:var(--text-alwhite);
    text-decoration: none;
    margin-bottom :0;
    padding-bottom: 0;

}
.buy-image img{
    width: 1348px;
    height: 594px;
    margin-bottom: 100px;

}
