

.page-header{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
    margin-left: 136px;

}

:root {
    --main-blue: #08A6E4;
    --accent-cherry: #FB3B64;
    --text-: #55DFB4;
    --main-black: #000000;
    --accent-grey1: #707070;
    --text-grey2: #95989A;
    --accent-grey3: #A5A5A5;
    --text-alwhite: #FFFFFF;
}
.container{
    width: 1348px;
    display: flex;
    justify-content: space-between;
    background: var(--text-alwhite);
}
.page-logo{
    margin-left: 136px;
    width: 142px;
    height: 37px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 0;
    color:var(--main-blue);
    opacity: 1;
}
.page-nav-list{
display: flex;


}
.page-nav-list li{
    padding: 15px 60px;
    text-decoration: none;
}
.page-nav-list li a{
    text-decoration: none;
    color:var(--accent-grey3);
    padding-bottom: 25px;
}
.page-nav-list li a:hover{
  border-bottom: solid  #08A6E4 4px ;
    color: var(--main-black);
}
.buy-container{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1626px;
    height: 712px;
    margin-bottom: 120px;

}
.buy-title{
    height: 57px;
    width: 226px;
    font-family: Raleway, serif;
    font-size:49px;
}
.buy.tex

